@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
  .form-control {
    border: 2px solid rgb(0, 0, 129);
    border-radius: 0; /* Remove default border-radius */
  }

  .form-control:focus {
    box-shadow: 0 0 0 2px rgb(0, 0, 129);
  }
  
  
  
}

@media (min-width: 400) {
  .xs\:h-10 {
      height: 10rem;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
